.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 100vh;
  z-index: -3;
  background-color: transparent;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.Tab {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 1.3rem 4rem;
  padding-bottom: 4%;
  @media ($m-md) {
    padding: 1rem 2rem;
    font-size: 14px;
    .terminal {
      padding: 0.7rem;
    }
  }
  @media ($m-mb) {
    padding: 0.7rem 1.5rem;
    font-size: 14px;
    .terminal {
      padding: 0.7rem;
    }
  }
  color: 17px;
  box-sizing: border-box;

  nav {
    width: 100%;
    min-height: 2.6rem;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-start;
    border-radius: 10px 10px 0px 0px;
    background-color: #5542d3;
    .btns {
      padding-left: 1rem;
      padding-right: 0.3rem;
      display: flex;
      flex-direction: row;
      font-weight: 500;
      align-items: center;
      overflow-x: auto;
      justify-content: flex-start;
      gap: 1rem;
      width: 100%;
      height: 100%;
      button.plus {
        min-width: 2.8rem;
        height: 2rem;
        background: rgb(243, 243, 243);
        // border-radius: 5px 5px 0px 0px;
        border-radius: 5px;
        cursor: pointer;
        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
      > div {
        cursor: pointer;
        transition: 0.5s background-color ease-out;
        &.gold {
          background-color: black !important;
          border-top: white 2px solid;
          svg {
            color: white;
          }
        }
        background-color: white;
        border-radius: 5px 5px 0px 0px;
        cursor: pointer;
        height: 2.4rem;
        min-width: 11rem;
        padding-left: 1rem;
        position: relative;
        text-align: start !important;
        &:hover {
          background: hsla(0, 0%, 53.3%, 0.76);
          border-top: white 2px solid;
        }
        .delt {
          width: 1.2rem;
          border-radius: 5px;
          z-index: 3;
          height: 1.2rem;
          position: absolute;
          right: 0.6rem;
          &:hover {
            background-color: rgba(80, 77, 77, 0.705);
          }
        }
        svg {
          width: 1.5rem;
          height: 1.5rem;
          font-size: 1.3rem;
          color: black;
          path {
            border: 1px black solid;
          }
        }
      }
    }
  }
  .gold {
    background-color: #4b35d8;
    color: white;
  }
  .terminal {
    @media ($m-md) {
      padding: 0.7rem;
    }
    color: white;
    position: relative;
    box-shadow: 9px 9px 9px 9px rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    .comands {
      span {
        color: #5542d3;
        font-weight: 800;
      }
      svg {
        color: #5542d3;
      }
    }
    .input {
      span {
        color: #5542d3;
        font-weight: 800;
      }
      > div {
        width: 100%;
        max-width: 100%;
        height: 3rem;
        position: relative;
        .autFeild {
          position: absolute;
          left: 0;
          background-color: rgba(43, 43, 43, 0.459);
          display: flex;
          flex-direction: column;
          > button {
            padding: 0.1rem 0.4rem;
            text-align: start;
          }
        }
      }
    }
    input {
      color: white;
      width: 100%;
      border: none !important;
      outline: none !important;
      background-color: transparent;
      height: 100%;
    }
    .chat,
    .todo,
    .help {
      width: fit-content;
      min-width: 100%;
      background: #5542d3;
      padding: 1.2rem 1rem;
      border-radius: 13px;
      margin-top: 0.5rem;
      .author {
        color: black;
      }
    }
  }
  // &#light {
  //   color: black !important;
  //   nav {
  //     background-color: white;
  //     color: black;
  //     .gold{
  //           background-color: rgb(62, 62, 230);
  //   color: white;
  //     }
  //     .btns>div{
  //       background-color: lightblue;
  //     }
  //   }
  //   .terminal {
  //     background-color: rgba(255, 255, 255, 0.21);
  //     color: black;
  //   }
  // }
}

*::-webkit-scrollbar {
  width: 1rem;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px yellow;
}

*::-webkit-scrollbar-thumb {
  background-color: red;
  outline: 1px solid blue;
}
/* width */
// nav::-webkit-scrollbar {
//   width: 8px;
// }
// // /* Track */
// nav::-webkit-scrollbar-track {
//   border-radius: 15px;
//   // background: rgba(196, 196, 196, 0.842);
//   background: red;
// }

// // /* Handle */
// nav::-webkit-scrollbar-thumb {
//   border-radius: 15px;
//   padding-right: 4px;
//   background: rgb(19, 19, 19);
// }

// // /* Handle on hover */
// nav::-webkit-scrollbar-thumb:hover {
//   background: black;
// }
